# TRAINING MODEL MAKING PREDICTIONS

In [1]:
import sys
from pathlib import Path

In [2]:
import pandas as pd

In [3]:
project_root = Path.cwd().parent

In [4]:
sys.path.append(str(project_root))

In [5]:
data_path = project_root / "data" / "cleaned_datasets"

In [6]:
energy_df = pd.read_csv(data_path / "energy_clean.csv")

In [7]:
energy_df.head()

,DateTime,generation_biomass,generation_fossil_brown_coal/lignite,generation_fossil_gas,generation_fossil_hard_coal,generation_fossil_oil,generation_hydro_pumped_storage_consumption,generation_hydro_run-of-river_and_poundage,generation_hydro_water_reservoir,generation_nuclear,...,total_load_actual,price_day_ahead,price_actual,total_generation,generation_load_difference,total_load_rolling,total_gen_rolling,day_of_week,hour_of_day,month
0,2014-12-31 23:00:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,...,25385.0,50.10,65.41,28251.0,2866.0,NaN,NaN,2,23,12
1,2015-01-01 00:00:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,...,24382.0,48.10,64.92,27818.0,3436.0,NaN,NaN,3,0,1
2,2015-01-01 01:00:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,...,22734.0,47.33,64.48,26796.0,4062.0,NaN,NaN,3,1,1
3,2015-01-01 02:00:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,...,21286.0,42.27,59.32,25223.0,3937.0,NaN,NaN,3,2,1
4,2015-01-01 03:00:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,...,20264.0,38.41,56.04,24620.0,4356.0,NaN,NaN,3,3,1

In [ ]:
if energy_df["DateTime"].nunique() == len(energy_df):
    energy_df = energy_df.set_index("DateTime")
    print("DateTime set as index successfully!")
else:
    print("Warning: DateTime column has duplicates. Consider resolving them first.")

DateTime set as index successfully!

In [10]:
energy_df.sort_index(inplace=True)